.venv/
.vscode/
__pycache__/
*.pyc
*.json
*.pyd
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
dist/
build/
*.egg-info/
*.egg
output/
*.log
Tesseract-OCR/
temp/
tmp/
*.tmp
*.bak
*.swp
htmlcov/
.coverage
.tox/
tests/
data/
dlls/
ocr_storage/